@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 25 25% 8%;
  --foreground: 38 11% 91%;
  --card: 25 25% 8%;
  --card-foreground: 38 11% 91%;
  --popover: 25 25% 8%;
  --popover-foreground: 38 11% 91%;
  --primary: 18 64% 39%;
  --primary-foreground: 38 11% 91%;
  --secondary: 151 33% 9%;
  --secondary-foreground: 38 11% 91%;
  --muted: 41 11% 76%;
  --muted-foreground: 41 11% 76%;
  --accent: 18 64% 39%;
  --accent-foreground: 38 11% 91%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 98%;
  --border: 18 64% 39% 0.3;
  --input: 18 64% 39% 0.3;
  --ring: 18 64% 39%;
  --radius: 0.5rem;
}

.dark {
  --background: 25 25% 8%;
  --foreground: 38 11% 91%;
}

* {
  border-color: hsl(var(--border));
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  font-family: var(--font-montserrat), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-almendra), serif;
}
